name: iium_schedule
description: IIUM Schedule Maker

publish_to: "none" # Remove this line if you wish to publish to pub.dev

# See https://github.com/iqfareez/iium_schedule/wiki/Versioning
# When changing this version, also change the versions in
# - msix block (msix_version)
# - Inno setup (MyAppVersion)
version: 1.4.6+45

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.5
  html: ^0.15.0
  albiruni: ^1.4.0
  recase:
    git: https://github.com/iqfareez/recase.git # Issue #2
  url_launcher: ^6.0.17
  package_info_plus: ^8.3.0
  flutter_timetable_view:
    git:
      url: https://github.com/iqfareez/flutter_timetable_view.git
      ref: 0486b731669a055b2c5d4924a0d2228f5e2968f7
  page_view_indicators: ^2.0.0
  provider: ^6.0.2
  fluttertoast: ^8.0.9
  path_provider: ^2.0.11
  permission_handler: ^12.0.1
  quick_actions: ^1.0.0
  share_plus: ^11.0.0
  intl: ^0.20.2
  http: ^1.1.0
  version: ^3.0.2
  cross_file: ^0.3.3+2
  device_info_plus: ^11.5.0
  pull_to_refresh: ^2.0.0
  dynamic_color: ^1.5.4
  flutter_displaymode: ^0.6.0
  isar: ^3.0.5
  isar_flutter_libs: ^3.0.5
  flutter_inappwebview: ^6.1.5
  like_button: ^2.0.5
  auto_size_text: ^3.0.0
  ical:
    git:
      url: https://github.com/dartclub/ical.git
  open_file: ^3.3.1
  flutter_markdown: ^0.7.7+1
  gal: ^2.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  msix: ^3.5.1
  build_runner: ^2.1.7
  flutter_lints: ^6.0.0
  isar_generator: ^3.0.5

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/icons/
    - assets/logo/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: Inter
      fonts:
        - asset: assets/fonts/Inter-ExtraBold.ttf
          weight: 800
        - asset: assets/fonts/Inter-Bold.ttf
          weight: 700
        - asset: assets/fonts/Inter-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/Inter-Medium.ttf
          weight: 500
        - asset: assets/fonts/Inter-Regular.ttf
          weight: 400
        - asset: assets/fonts/Inter-Light.ttf
          weight: 300
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

msix_config:
  display_name: IIUM Schedule
  publisher_display_name: Muhammad Fareez Iqmal
  identity_name: fareez.flutter.iiumschedule
  msix_version: 1.4.6.0 # same as inno setup (MyAppVersion)
  logo_path: ".\\assets\\logo\\app-logo.png"
  capabilities: "internetClient"
  certificate_path: ".\\windows\\CERTIFICATE.pfx"
  certificate_password: 1234
