name: iium_schedule
description: IIUM Schedule Maker

publish_to: "none" # Remove this line if you wish to publish to pub.dev

# When changing this version, also change the versions in
# - msix block (msix_version)
# - Inno setup (MyAppVersion)
version: 1.0.2+17

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  # cupertino_icons: ^1.0.2
  html: ^0.15.0
  albiruni: ^1.1.6
  recase:
    git: https://github.com/iqfareez/recase.git # Issue #2
  and:
    git: https://github.com/iqfareez/and.git # null-safe
  url_launcher: ^6.0.17
  package_info_plus: ^3.0.1
  flutter_timetable_view:
    git: https://github.com/iqfareez/flutter_timetable_view.git
  page_view_indicators: ^2.0.0
  hive: ^2.0.6
  hive_flutter: ^1.1.0
  provider: ^6.0.2
  fluttertoast: ^8.0.9
  path_provider: ^2.0.11
  permission_handler: ^10.0.0
  quick_actions: ^1.0.0
  share_plus: ^6.0.1
  intl: ^0.17.0
  http: ^0.13.5
  version: ^3.0.2
  flutter_colorpicker:
    # https://github.com/mchome/flutter_colorpicker/pull/85
    git: https://github.com/SayuruSandaru/flutter_colorpicker.git
  cross_file: ^0.3.3+2
  device_info_plus: ^7.0.1
  admonitions: ^1.0.0
  uuid: ^3.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  msix: ^3.5.1
  build_runner: ^2.1.7
  hive_generator: ^2.0.0
  flutter_lints: ^2.0.1

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/icons/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

msix_config:
  display_name: IIUM Schedule
  publisher_display_name: Muhammad Fareez Iqmal
  identity_name: fareez.flutter.iiumschedule
  msix_version: 1.0.2.0 # same as inno setup (MyAppVersion)
  logo_path: ".\\assets\\logo\\app-logo.png"
  capabilities: "internetClient"
  certificate_path: ".\\windows\\CERTIFICATE.pfx"
  certificate_password: 1234
