name: flutter_timetable_view
description: "Timetable Widget Package for for Flutter"
version: 0.4.0
homepage:

environment:
  sdk: ^3.10.8
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
