# Build Flutter mac OS app and package as .dmg file
name: Build MacOS (.dmg)

"on":
  workflow_dispatch:
    inputs:
      flutterChannel:
        description: "Flutter channel"
        default: stable
        required: true
        type: choice
        options:
          - stable
          - beta
          - master

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: ${{ inputs.flutterChannel }}
          architecture: x64
          cache: true

      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Flutter build for MacOS
        run: |
          flutter pub get
          flutter build macos

      - name: Install appdmg
        run: |
          npm install -g appdmg

      - name: Building the installer
        run: |
          appdmg appdmg/config.json appdmg/IIUMSchedule.dmg

      - name: Upload the installer as an artifact
        uses: actions/upload-artifact@v6
        with:
          path: "appdmg/IIUMSchedule.dmg"

      - name: Write summary
        run: |
          echo "Build setup"
          echo ":blue_heart: Using **Flutter ${{ inputs.flutterChannel }}**" >> $GITHUB_STEP_SUMMARY
