# Bundle the app to exe installer (usually no need to use this workflow)
name: Build Windows (.exe)

"on":
  workflow_dispatch:
    inputs:
      flutterChannel:
        description: "Flutter channel"
        default: stable
        required: true
        type: choice
        options:
          - stable
          - beta
          - master

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: ${{ inputs.flutterChannel }}
          cache: true

      - name: Flutter build for Windows
        run: |
          flutter pub get
          flutter build windows

      - name: Add vcredist files to Release
        run: |
          git clone https://github.com/iiumschedule/vcredist.git windows-x64-vc
          Copy-Item windows-x64-vc/msvcp140.dll build/windows/x64/runner/Release/
          Copy-Item windows-x64-vc/vcruntime140.dll build/windows/x64/runner/Release/
          Copy-Item windows-x64-vc/vcruntime140_1.dll build/windows/x64/runner/Release/

      - name: Building the installer
        run: |
          choco install innosetup -y
          "%programfiles(x86)%\Inno Setup 6\iscc.exe" "Inno\setup-script.iss"
        shell: cmd

      - name: Upload the installer as an artifact
        uses: actions/upload-artifact@v6
        with:
          path: "Inno/iiumschedulesetup.exe"

      - name: Write summary
        run: |
          echo "Build setup"
          echo ":blue_heart: Using **Flutter ${{ inputs.flutterChannel }}**" >> $GITHUB_STEP_SUMMARY
