name: Build Windows (.msix)

on:
  workflow_dispatch:

jobs:
  build_windows:
    name: Build windows and package exe
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true

      - name: Flutter build for Windows
        run: |
          flutter pub get
          flutter build windows

      - name: Add vcredist files tp Release
        run: |
          git clone https://github.com/iiumschedule/vcredist.git windows-x64-vc
          Copy-Item windows-x64-vc/msvcp140.dll build/windows/x64/runner/Release/
          Copy-Item windows-x64-vc/vcruntime140.dll build/windows/x64/runner/Release/
          Copy-Item windows-x64-vc/vcruntime140_1.dll build/windows/x64/runner/Release/

      - name: Decoding CERTIFICATE.pfx
        shell: cmd
        # certutil [options] -decode infile outfile
        # Read cert base64 from env secrets, write it in a file
        # The, use the certutil command the decode and save in the cert file (pfx)
        run: |
          echo ${{ secrets.CERT_PFX }} > certBase64.txt 
          certutil -decode certBase64.txt windows/CERTIFICATE.pfx

      - name: Packaging to msix
        # Pipe 'Y' (positive), preceeding command
        # will ask if comfirmation to install certificate
        run: echo 'Y' | flutter pub run msix:create

      - name: Upload msix
        uses: actions/upload-artifact@v6
        with:
          path: build\windows\x64\runner\Release\iium_schedule.msix
